@import './variables';
body {
    // background-color: rgb(241, 173, 173);
    margin: 0;
    font-size: 16px;
    font-family: 'Alata';
}

.container {
    padding-left: $container-horizontal-padding;
    padding-right: $container-horizontal-padding;
}

ul {
    @include reset-list;
}

a {
    @include reset-anchor;
}