@font-face {
    font-family: 'Alata';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/alata.woff2) format('woff2'), url(../fonts/alata.woff) format('woff');
}

@font-face {
    font-family: 'Josephin Sans';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/josephin-sans.woff2) format('woff2'), url(../fonts/josephin-sans.woff) format('woff');
}