main>header {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    margin-bottom: 100px;
}

.masthead_container {
    .masthead_heading {
        font-family: 'Josephin Sans';
        font-weight: 300;
        border: 2px white solid;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 42px;
        color: white;
        padding: 20px;
    }
}

@media(min-width: 1114px) {
    main>header {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .masthead_container {
        .masthead_heading {
            max-width: 400px;
        }
    }
}