.section_creations {
    .section_creations__container {
        .section_images__container {
            display: flex;
            flex-direction: column;
            li {
                padding-bottom: 20px;
            }
            .section_images__image--item {
                width: 100%;
            }
            picture {
                position: relative;
                .section_imges__description--text {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    width: 108px;
                    font-family: 'Josephin Sans';
                    font-size: 20px;
                    // line-height: px;
                    color: hsl(0, 0%, 100%);
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
    .section_images__navigation {
        text-align: center;
        .section_images__navigation--link {
            font-family: 'Alata';
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 2px solid hsl(0, 0%, 41%);
            padding: 10px 30px;
            color: hsl(0, 0%, 41%);
        }
    }
}