@import './variables';
.section_interactive {
    .section_interactive__container {
        padding-bottom: 100px;
        .section_interactive__imageContainer {
            .section_interactive__image {
                width: 100%;
            }
        }
        .section_interactive__articleContainer {
            text-align: center;
            .section_interactive__article--title {
                font-family: 'Josephin Sans';
                text-transform: uppercase;
                font-weight: 300;
                font-size: 34px;
                line-height: 38px;
                color: hsl(0, 0%, 41%);
            }
            .section_interactive__article--paragraph {
                font-family: 'Alata';
                font-size: 14px;
                line-height: 22px;
                color: hsl(0, 0%, 55%);
                font-weight: 700;
            }
        }
    }
}

@media(min-width: $desktop-break-point) {
    .section_interactive {
        .section_interactive__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .section_interactive__imageContainer {
                z-index: -1;
            }
            .section_interactive__articleContainer {
                max-width: 420px;
                text-align: start;
                padding: 30px 40px;
                background-color: white;
                transform: translateX(-120px) translateY(158px);
                z-index: 2;
            }
        }
    }
}